.newcollections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 50px 20px;
    width: 100%;
    margin-bottom: 100px;
}

.newcollections h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.newcollections hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    
}

/* Flex container for items */
.newcollections-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Ensures responsiveness */
    gap: 30px;
    width: 100%;
    max-width: 1300px; /* Adjust to limit width */
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}